@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bg-grid-pattern {
    background: #000000;
    background-image: radial-gradient(
        circle at 1px 1px,
        rgba(139, 92, 246, 0.2) 1px,
        transparent 0
      ),
      radial-gradient(
        circle at 1px 1px,
        rgba(59, 130, 246, 0.18) 1px,
        transparent 0
      ),
      radial-gradient(
        circle at 1px 1px,
        rgba(236, 72, 153, 0.15) 1px,
        transparent 0
      );
    background-size: 20px 20px, 30px 30px, 25px 25px;
    background-position: 0 0, 10px 10px, 15px 5px;
  }

  .loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: relative;
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
    33% {
      background: #fff;
      box-shadow: -24px 0 #4338ca, 24px 0 #fff;
    }
    66% {
      background: #4338ca;
      box-shadow: -24px 0 #fff, 24px 0 #fff;
    }
    100% {
      background: #fff;
      box-shadow: -24px 0 #fff, 24px 0 #4338ca;
    }
  }

  .loader2 {
    width: 26px;
    height: 26px;
    border: 2px solid #262626;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader2::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 6px;
    top: 0;
    background: #4338ca;
    width: 8px;
    height: 8px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


}
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-nanum: "Nanum Pen Script", cursive;
  --animate-popIn: popIn 0.3s ease-in-out;
  --animate-popUp: popUp 0.3s ease-in-out;
  --animate-scale: scale 0.2s ease-in-out ;
}

  @keyframes popIn {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes scale {
  from {
    opacity: 0.6;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

* {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  font-family: system-ui, sans-serif;
}

